body {
    background-color: #CCCCFF;
    font-family: "Poppins", sans-serif;
}

p {
    margin: 0;
}

#form-title {
    padding: 15px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background-color: #F2F2F2;
}

#form-content {
    padding: 15px;
    background-color: white;
}

#first-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-button {
    background-color: blue;
    color: white;
    border-radius: 3px;
    width: 120px;
    height: 35px;
    font-size: 15px;
    border-color: transparent;
}

#second-row {
    display: flex;
    align-items: center;
    padding: 20px;
}

#profile-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 300px;
    margin-right: 20px;
    background-color: white;
    border-radius: 7px;
    
}

#profile-img{
    padding-top: 30px;
    width: 200px;
    height: 200px;
}

#profile-info{
    margin-left: 20px;
    width: 100vw;
    height: 300px;
    background-color: white;
    border-radius: 7px;
}

.bold {
    font-weight: 600;
}

.extra-space {
    padding-bottom: 10px;
}